In [3]:
import pandas as pd
import numpy as np



df = pd.read_csv('mercides_benz.csv', usecols=['X1', 'X2'])
df.head()

  X1  X2
0  v  at
1  t  av
2  w   n
3  t   n
4  v   n

In [12]:
for i in df:
    print(df[i].unique())

['v' 't' 'w' 'b' 'r' 'l' 's' 'aa' 'c' 'a' 'e' 'h' 'z' 'j' 'o' 'u' 'p' 'n'
 'i' 'y' 'd' 'f' 'm' 'k' 'g' 'q' 'ab']
['at' 'av' 'n' 'e' 'as' 'aq' 'r' 'ai' 'ak' 'm' 'a' 'k' 'ae' 's' 'f' 'd'
 'ag' 'ay' 'ac' 'ap' 'g' 'i' 'aw' 'y' 'b' 'ao' 'al' 'h' 'x' 'au' 't' 'an'
 'z' 'ah' 'p' 'am' 'j' 'q' 'af' 'l' 'aa' 'c' 'o' 'ar']

In [13]:
 len(df[i].unique())

44

In [5]:
df['X1'].unique()

array(['v', 't', 'w', 'b', 'r', 'l', 's', 'aa', 'c', 'a', 'e', 'h', 'z',
       'j', 'o', 'u', 'p', 'n', 'i', 'y', 'd', 'f', 'm', 'k', 'g', 'q',
       'ab'], dtype=object)

In [6]:
df['X2'].unique()

array(['at', 'av', 'n', 'e', 'as', 'aq', 'r', 'ai', 'ak', 'm', 'a', 'k',
       'ae', 's', 'f', 'd', 'ag', 'ay', 'ac', 'ap', 'g', 'i', 'aw', 'y',
       'b', 'ao', 'al', 'h', 'x', 'au', 't', 'an', 'z', 'ah', 'p', 'am',
       'j', 'q', 'af', 'l', 'aa', 'c', 'o', 'ar'], dtype=object)

In [8]:
len(df['X1'].unique())

27

In [9]:
len(df['X2'].unique())

44

In [15]:
for col in df.columns:
    print(col, ': ', len(df[col].unique()), ' labels')

X1 :  27  labels
X2 :  44  labels

In [16]:

df.shape

(4209, 2)

In [17]:
pd.get_dummies(df, drop_first=True).shape

(4209, 69)

In [23]:
df["X2"].value_counts().sort_values(ascending=False).head(20)

as    1659
ae     496
ai     415
m      367
ak     265
r      153
n      137
s       94
f       87
e       81
aq      63
ay      54
a       47
t       29
k       25
i       25
b       21
ao      20
ag      19
z       19
Name: X2, dtype: int64

In [24]:
top_10_labels = [y for y in df.X2.value_counts().sort_values(ascending=False).head(10).index]
top_10_labels

['as', 'ae', 'ai', 'm', 'ak', 'r', 'n', 's', 'f', 'e']

In [25]:
def one_hot_encoding_top_x(df, variable, top_x_labels):
    # function to create the dummy variables for the most frequent labels
    # we can vary the number of most frequent labels that we encode
    
    for label in top_x_labels:
        df[variable+'_'+label] = np.where(df[variable]==label, 1, 0)

In [27]:


# encode X2 into the 10 most frequent categories
one_hot_encoding_top_x(df, 'X2', top_10_labels)
df.head()

  X1  X2  X2_as  X2_ae  X2_ai  X2_m  X2_ak  X2_r  X2_n  X2_s  X2_f  X2_e
0  v  at      0      0      0     0      0     0     0     0     0     0
1  t  av      0      0      0     0      0     0     0     0     0     0
2  w   n      0      0      0     0      0     0     1     0     0     0
3  t   n      0      0      0     0      0     0     1     0     0     0
4  v   n      0      0      0     0      0     0     1     0     0     0

In [34]:
## 2nd method
# let's obtain the counts for each one of the labels in variable X2
# let's capture this in a dictionary that we can use to re-map the labels
dict(df["X2"].value_counts())
#df.X2.value_counts().to_dict()

{1659: 1659,
 496: 496,
 415: 415,
 367: 367,
 265: 265,
 153: 153,
 137: 137,
 94: 94,
 87: 87,
 81: 81,
 63: 63,
 54: 54,
 25: 50,
 47: 47,
 19: 38,
 29: 29,
 11: 22,
 21: 21,
 20: 20,
 18: 18,
 5: 15,
 13: 13,
 6: 12,
 12: 12,
 4: 12,
 10: 10,
 1: 8,
 8: 8,
 3: 3}

In [29]:
# And now let's replace each label in X2 by its count

# first we make a dictionary that maps each label to the counts
df_frequency_map = df.X2.value_counts().to_dict()

In [30]:

df.head(100)

    X1  X2  X2_as  X2_ae  X2_ai  X2_m  X2_ak  X2_r  X2_n  X2_s  X2_f  X2_e
0    v  at      0      0      0     0      0     0     0     0     0     0
1    t  av      0      0      0     0      0     0     0     0     0     0
2    w   n      0      0      0     0      0     0     1     0     0     0
3    t   n      0      0      0     0      0     0     1     0     0     0
4    v   n      0      0      0     0      0     0     1     0     0     0
..  ..  ..    ...    ...    ...   ...    ...   ...   ...   ...   ...   ...
95   b   m      0      0      0     1      0     0     0     0     0     0
96   l  as      1      0      0     0      0     0     0     0     0     0
97  aa  as      1      0      0     0      0     0     0     0     0     0
98   b   m      0      0      0     1      0     0     0     0     0     0
99   s   m      0      0      0     1      0     0     0     0     0     0

[100 rows x 12 columns]

In [31]:
df.X2 = df.X2.map(df_frequency_map)

df.head()

  X1   X2  X2_as  X2_ae  X2_ai  X2_m  X2_ak  X2_r  X2_n  X2_s  X2_f  X2_e
0  v    6      0      0      0     0      0     0     0     0     0     0
1  t    4      0      0      0     0      0     0     0     0     0     0
2  w  137      0      0      0     0      0     0     1     0     0     0
3  t  137      0      0      0     0      0     0     1     0     0     0
4  v  137      0      0      0     0      0     0     1     0     0     0